<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SmallDay.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D33A55B01D4F29A8008790F9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D33A55C41D4F29A8008790F9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D33A55CF1D4F29A8008790F9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
